# Core Libraries
numpy
pandas
scikit-learnstreamlit

joblib
scikit-learn


# ML Models
xgboost
lightgbm
catboost

# Deep Learning (optional)
tensorflow
keras

# Visualization (optional)
matplotlib
seaborn

# Web App
streamlit

# Compatibility Fix
protobuf==3.20.3
